@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: 30 190 138;
  --accent-muted: 22 150 107;
}

html.dark,
html {
  color-scheme: dark;
}

.xterm {
  padding: 8px 0;
}

.xterm-viewport {
  background-color: transparent !important;
}
